{% if messages %}
    {% for message in messages %}
        <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">
        x
        </button>
        <strong>{{message}}<strong>
        </div>
    {% endfor %}
   
{% endif %}

{% block script %}

<script>

    var closebtns = document.getElementsByClassName("close");
var i;

/* Loop through the elements, and hide the parent, when clicked on */
for (i = 0; i < closebtns.length; i++) {
  closebtns[i].addEventListener("click", function() {
    this.parentElement.style.display = 'none';
  });
}
</script>


{% endblock script %}



